# Ignora l'ambiente virtuale e cache
venv/
.venv/
__pycache__/
.ipynb_checkpoints/

# Ignora i file di dati pesanti e i dataset sorgente
data/
*.csv
*.pkl
*.pt
*.gpickle

# Ignora le NUOVE cartelle dei grafi geometrici (finestre da 1 min)
train_1min_graphs/
train_commun_graphs/
train_hetero_graphs_pt/

test_1min_graphs/
test_commun_graphs/
test_hetero_graphs_pt/

# Ignora file di sistema e output temporanei
.DS_Store
*.png