# Ignora l'ambiente virtuale
venv/
.venv/
__pycache__/
.ipynb_checkpoints/

# Ignora i file di dati pesanti
data/
*.csv
*.pkl
*.pt
*.gpickle

# Ignora le cartelle dei grafi generate dal codice
3ed_trai_h_graphs/
3ed_trai_h_graphs_commun/
3ed_tes_h_graphs/
3ed_tes_h_graphs_hetero_graphs/
hetero_graphs_pt/


# Ignora file di sistema
.DS_Store